<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="openaction" content="#view=fit">
  <meta name="author" content="r-ca" />
  <title>Template</title>
  <link rel="stylesheet" href="../css/github-markdown.css">
  <link rel="stylesheet" href="../css/custom.css">
</head>
<body>
  <div class="FrontCover">
    <h1>Template</h1>
    <div class="Published">0000/000/00</div>
    <div class="Author">ろむねこ</div>
  </div>
  <article class="markdown-body">
  <%- include('../work/all_md.html') %>
  </article>
  <div class="BackCover">
    <div class="Colophon">
      <span class="Title">Template</span><br>
      <span class="PubDate">0000/000/00</span><br>
      <span class="Copyright">template</span>
    </div>
  </div>
</body>
</html>
